.home-page {
  text-align: center;
  .heading {
    img{
      height: 30rem;
      width: 100%;
    }
  }
  h3 {
    font-weight: bold;
    text-transform: capitalize;
  }
  .description {
    font-size: 18px;
  }
  .steps-section {
    margin-bottom: 3rem;
    padding: 4rem 3rem;
    background-color: #f7f7f7;
  }
  .description-section {
    padding: 1.5rem;
    p{
      padding: 0.5rem 4rem;
      font-size: 18px;
    }
    img{
      height: 15rem;
    }
    .btn {
      background-color: red;
    }
  }
  .home-section {
    padding: 2rem 0rem;
    background-color: #f7f7f7;
    margin-bottom: 1rem;
    font-size: 18px;
    h3 {
      font-size: 2.5rem;
      font-family: monospace;
    }
    .children {
      display: flex;
      padding: 0.5rem 0rem;
      flex-direction: column;
      text-transform: uppercase;
    }
    a {
      color: red;
    }
  }
}